
AuthType Basic
AuthName "Restricted Content"
AuthUserFile /var/www/.users
Require valid-user

RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
